project = "your-project"
region = "asia-northeast1"
service_name = "your-app-name"
image = "gcr.io/cloudrun/hello"
github_owner = "your github account"
github_repo = "your github repo"
github_actions_sa_name = "github-actions"
